[tool.black]
line-length = 88
target-version = ['py311']

[tool.ruff]
line-length = 88
target-version = "py311"

[tool.ruff.lint]
select = [
    "E",
    "F",
    "W",
    "I",
    "N",
    "UP",
    "B",
    "A",
    "C4",
    "PIE",
    "RET",
    "SIM",
    "PTH",
]
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"